<h3>Password Generator</h3>

<form id="passwordGeneratorForm" class="new-password-form">
  <label for="Account">Enter New Account</labe>
    <input name="Account" />

    <label for="Account">Enter New URL</labe>
      <input name="URL" />

      <label for="Account">Enter New Category</labe>
        <input name="category" />

    <div class="form-group">
      <label>Number of characters</label>
      <select>
        <option value="10">10</option>
        <option value="12">12</option>
        <option value="14">14</option>
        <option value="16">16</option>
        <option value="18">18</option>
      </select>
    </div>

    <div class="form-group">
      <label>Include Symbols:</label>
      <div class="field">
        <input type="checkbox" name="symbols">
        <span>(e. g. @#$%^&*)</span>
      </div>
    </div>

    <div class="form-group">
      <label>Include Numbers:</label>
      <div class="field">
        <input type="checkbox" name="numbers">
        <span>(e. g. 123456)</span>
      </div>
    </div>

    <div class="form-group">
      <label>Lower Characters:</label>
      <div class="field">
        <input type="checkbox" name="low-chars" checked>
        <span>(e. g. abcdef)</span>
      </div>
    </div>

    <div class="form-group">
      <label>Upper Characters:</label>
      <div class="field">
        <input type="checkbox" name="up-chars">
        <span>(e. g. ABCDEF)</span>
      </div>
    </div>

    <div class="form-group">
      <input type="text" name="password" readonly placeholder="Generate Password"/>
    </div>

    <div class="form-group">
      <button id="generate-password">Generate Password</button>
    </div>

    <div class="form-group">
      <button type="submit">Submit</button>
    </div>

</form>
