<h3>Password Generator</h3>

<form id="passwordGeneratorForm" class="new-password-form">
  <div class="new-password-fields">

    <div class="input-section">
      <label>Enter New Account</label>
      <input name="account" class="input-field"/>

      <label>Enter New URL</label>
      <input name="url" class="input-field"/>
    </div>

    <div class="input-section">
      <label>Login Email</label>
      <input type="email" name="loginEmail" class="input-field"/>

      <label>Select Category</label>
      <input list="categories" name="category" id="browser" class="input-field"/>
      <datalist id="categories">
        <option value="1">Communications & Social Media</option>
        <option value="2">Supplies</option>
        <option value="3">Work Portals</option>
      </datalist>

    </div>

  </div>

  <div>

    <div class="checkbox-section">

      <div class="form-group">
        <div class="field">
          <input type="checkbox" name="symbols" class="chk-box">
        </div>
        <label>Include Symbols</label>
      </div>

      <div class="form-group">
        <div class="field">
          <input type="checkbox" name="numbers" class="chk-box">
        </div>
        <label>Include Numbers</label>
      </div>

    </div>

    <div class="checkbox-section">

      <div class="form-group">
        <div class="field">
          <input type="checkbox" name="low-chars" disabled checked class="chk-box">
        </div>
        <label>Lower Characters</label>
      </div>

      <div class="form-group">
        <div class="field">
          <input type="checkbox" name="up-chars" class="chk-box">
        </div>
        <label>Upper Characters</label>

      </div>

    </div>

  </div>

  <div class="generate-fields">

    <div class="form-group">
      <input type="text" name="newPassword" readonly placeholder="Generate Password" class="input-field"/>
    </div>

    <div class="form-group">
      <label>Number of characters</label>
      <select id="character-number">
        <option value="10">10</option>
        <option value="12">12</option>
        <option value="14">14</option>
        <option value="16">16</option>
        <option value="18">18</option>
      </select>
    </div>


  </div>

  <div class="form-btns">

    <div class="form-group">
      <button id="generate-password">Generate Password</button>
    </div>

    <div class="form-group">
      <button type="submit">SUBMIT</button>
    </div>

  </div>

</form>
