<h3>Password Generator</h3>

<form id="passwordGeneratorForm" class="new-password-form">
  <label for="account">Enter New Account</labe>
    <input name="account" />

    <label for="account">Enter New URL</labe>
      <input name="url" />

      <label for="account">Login Email</labe>
        <input type="email" name="loginEmail" />

      <label for="account">Select Category</labe>
        <input list="categories" name="category" id="browser">
        <datalist id="categories">
          <option value="1">Communications & Social Media</option>
          <option value="2">Supplies</option>
          <option value="3">Work Portals</option>
        </datalist>

        <div class="form-group">
          <label>Number of characters</label>
          <select id="character-number">
            <option value="10">10</option>
            <option value="12">12</option>
            <option value="14">14</option>
            <option value="16">16</option>
            <option value="18">18</option>
          </select>
        </div>

        <div class="form-group">
          <label>Include Symbols:</label>
          <div class="field">
            <input type="checkbox" name="symbols">
            <span>(e. g. @#$%^&*)</span>
          </div>
        </div>

        <div class="form-group">
          <label>Include Numbers:</label>
          <div class="field">
            <input type="checkbox" name="numbers">
            <span>(e. g. 123456)</span>
          </div>
        </div>

        <div class="form-group">
          <label>Lower Characters:</label>
          <div class="field">
            <input type="checkbox" name="low-chars" checked>
            <span>(e. g. abcdef)</span>
          </div>
        </div>

        <div class="form-group">
          <label>Upper Characters:</label>
          <div class="field">
            <input type="checkbox" name="up-chars">
            <span>(e. g. ABCDEF)</span>
          </div>
        </div>

        <div class="form-group">
          <input type="text" name="newPassword" readonly placeholder="Generate Password" />
        </div>

        <div class="form-group">
          <button id="generate-password">Generate Password</button>
        </div>

        <div class="form-group">
          <button type="submit">Submit</button>
        </div>

</form>
