<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- External stylesheets -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- Website stylesheets -->
    <link rel="stylesheet" href="../styles/layout.css" />
    <link rel="stylesheet" href="../styles/homepage.css" />
    <!-- Website JS -->
    <script type="text/javascript" src="../scripts/app.js"></script>
    <title>PasswordKeeper</title>
  </head>

  <body>
    <header>
      <h2 id="logo"><span>Password</span>KeepR</h2>
      <nav class="main-nav">
        <div class="main-nav-links">
          <a class="link" href="#">Login</a>
          <a class="link signup" href="#">Sign Up</a>
        </div>
      </nav>
    </header>

    <main>
      <section class="hero">
        <div class="hero-text">
          <h1 class="heading-primary">One Password for Everything</h1>
          <p class="hero-description">
            PasswordKeeper generates strong passwords and stores them all in
            one convinent location. You now only need to remember one master
            password.
          </p>
          <button class="sign-up-button">Sign Up Now!</button>
          </div>
          <div class="hero-img-box">
            <img
              src="https://images.unsplash.com/photo-1584433144859-1fc3ab64a957?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1930&q=80"
              class="hero-img"
            />
          </div>
      </section>
    </main>
  </body>
</html>
