<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/homepage.css" />
    <title>PasswordKeeper</title>
  </head>
  <body>
    <header class="header">
      <img class="logo" alt="PasswordKeeper Logo" src="" />
      <nav class="main-nav">Navigation</nav>
    </header>

    <main>
      <section class="hero-section">
        <div class="hero">
          <div class="hero-text-box">
            <h1 class="heading-primary">One Password for Everything</h1>
            <p class="hero-description">
              PasswordKeeper generates strong passwords and stores them all in
              one convinent location. You now only need to remember one master
              password.
            </p>
            <a href="#" class="btn btn--signup margin-right-sm">Sign Up Now!</a>
            <a href="#" class="btn btn--learnmore">Learn More &rarr;</a>
            <div class="trusted">
              <div class="trusted-imgs">
                <img src="imgs/customer-1.jpg" alt="Customer Photo" />
                <img src="imgs/customer-2.jpg" alt="Customer Photo" />
                <img src="imgs/customer-3.jpg" alt="Customer Photo" />
                <img src="imgs/customer-4.jpg" alt="Customer Photo" />
              </div>
              <p class="trusted-text">
                <span>250,000+</span> trust us with their passwords!
              </p>
            </div>
          </div>
          <div class="hero-img-box">
            <img
              src="https://images.unsplash.com/photo-1584433144859-1fc3ab64a957?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1930&q=80"
              class="hero-img"
            />
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
