<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/login-and-registration.css" />
    <title>Login</title>
  </head>

  <body>
    <form action="#" class="login-form">
      <h1 class="heading">Login</h1>

      <label for="username"></label>
      <input
        type="text"
        placeholder="Username"
        id="username"
        class="username"
        name="username"
      />
      <label for="password"></label>
      <input
        type="password"
        placeholder="Password"
        id="password"
        class="password"
        name="password"
      />

      <button type="submit" id="submit" action="#" class="submit"> Submit</button>

      <div>
        Don't have an account? Click <a href="#">here</a> to Register.
      </div>
    </form>

  </body>
</html>
