<!DOCTYPE html>
<html lang="en">

<head>
  <title>Passwords Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>

  <nav class="nav">
    <h3 id="logo"><span>Password</span>KeepR</h3>

    <div class="category">
      <h3>categories</h3>
      <div class="tab">
        <button class="tablinks" onclick="">Tap1</button>
        <button class="tablinks" onclick="">Tap2</button>
        <button class="tablinks" onclick="">Tap3</button>
      </div>
    </div>

    <div class="nav-bottom">
      <h3>Name</h3>
      <h3>Organization</h3>
    </div>

  </nav>

  <main class="container">

    <section class="password-container">
      <div>
        <h3>Password List</h3>
      </div>

      <div class="password-content">
        <div>
          <img src="https://logos-world.net/wp-content/uploads/2020/04/Apple-Logo.png">
        </div>
        <h4>APPLE</h4>
      </div>

      <div class="password-content">
        <div>
          <img src="https://logos-world.net/wp-content/uploads/2020/04/Apple-Logo.png">
        </div>
        <h4>APPLE</h4>
      </div>

      <div class="password-content">
        <div>
          <img src="https://logos-world.net/wp-content/uploads/2020/04/Apple-Logo.png">
        </div>
        <h4>APPLE</h4>
      </div>

      <div class="password-content">
        <div>
          <img src="https://logos-world.net/wp-content/uploads/2020/04/Apple-Logo.png">
        </div>
        <h4>APPLE</h4>
      </div>

      <div class="password-content">
        <div>
          <img src="https://logos-world.net/wp-content/uploads/2020/04/Apple-Logo.png">
        </div>
        <h4>APPLE</h4>
      </div>

      <div class="password-content">
        <div>
          <img src="https://logos-world.net/wp-content/uploads/2020/04/Apple-Logo.png">
        </div>
        <h4>APPLE</h4>
      </div>

      <div class="password-content">
        <div>
          <img src="https://logos-world.net/wp-content/uploads/2020/04/Apple-Logo.png">
        </div>
        <h4>APPLE</h4>
      </div>

    </section>

    <section class="display-password">
      <h3>
        APPLE
      </h3>
    </section>

  </main>

</body>

</html>
