$font-primary: "Rubik", sans-serif;
$font-color-primary: antiquewhite;
$font-color-dark: #1b2226;

$background-primary: #fdf2e9;
$background-dark: #cf711f;

@mixin search-box-expand {
  transition: 0.4s;
  width: 90%;
  padding: 0 6px;
  top: 50px;
  color: white;
}

@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
