$font-primary: "Rubik", sans-serif;
$font-color-primary: #212529;
$font-color-dark: #1b2226;

$background-primary: #f1f3f5;
$background-dark: #339af0;

@mixin search-box-expand {
  transition: 0.4s;
  width: 90%;
  padding: 0 6px;
  top: 50px;
  color: white;
}

@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
