@import './variables';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background-dark;
  color: $font-color-primary;
  height: 100px;
  padding: 0 15px;

  .main-nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.2rem;
  }

  .link:link,
  .link:visited {
    text-decoration: none;
    color: $font-color-primary;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
  }

  .link:hover,
  .link:active {
    color: #cf711f;
  }

  .link.signup:link,
  .link.signup:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    color: #fff;
    background-color: #2f3640;
  }

  .link.signup:hover,
  .link.signup:active {
    background-color: #cf711f;
  }
}

/*********************************/
/* Hero Section */
/*********************************/
main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.hero {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content:space-between;
  align-items: center;
}

.hero-text {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  max-width: 40vw;
}
.heading-primary {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.05;
  color: $font-color-dark;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
}

.hero-img {
  max-width: 40vw;
}

.sign-up-button {
  font-size: 1.5rem;
}
