@import './variables';

body {
  font-family: $font-primary;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background-dark;
  color: $font-color-primary;
  height: 100px;
  padding: 0 15px;

  .main-nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.8rem;
  }

  .link:link,
  .link:visited {
    text-decoration: none;
    color: $font-color-primary;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
  }

  .link:hover,
  .link:active {
    background-color: #f1f3f5;
  }

  .link.signup:link,
  .link.signup:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    color: #fff;
    background-color: #2f3640;
  }
}

/*********************************/
/* Hero Section */
/*********************************/
main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  margin-top: 60px;
}

.hero {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  max-width: 40vw;
}
.heading-primary {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.05;
  color: $font-color-dark;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 400;
}

.hero-img {
  max-width: 40vw;
  margin-top: 50px;
}

.sign-up-button {
  font-size: 1.5rem;
  margin-left: -600px;
  // color:
}
