// See: https://sass-lang.com/
@import './variables';

body,
html {
  margin: 0;
}

body {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background: $background-primary;

}

.container {
  margin: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
