@import './variables';

body {
  @include flex-centered;
  background: $background-dark;
}

.login-form {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  background-color: $background-primary;
  width: 40rem;
  text-align: center;
  height: 30rem;
}

.username {
  text-align: center;
  border: 2px solid $background-dark;
  border-radius: 2rem;
  padding: 1rem 3rem;
  width: 15rem;
  background: none;
  margin: 20px auto;
  transition: 0.25s;
}

.password {
  text-align: center;
  border: 2px solid $background-dark;
  border-radius: 2rem;
  padding: 1rem 3rem;
  width: 15rem;
  background: none;
  margin: 20px auto;
  transition: 0.25s;
}

.submit {
  border: 2px solid $background-dark;
  // background: #4dabf7;
  padding: 1rem 2rem;
  border-radius: 4rem;
  margin-bottom: 3rem;
  width: 10rem;
  transition: 0.25s;
}

.username:hover,
.password:hover {
  width: 20rem;
}

.submit:hover {
  cursor: pointer;
  width: 12rem;
}
