@import 'variables.scss';

.container {
  margin-left: 200px;
  padding: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  h2 {
    color: $font-color-dark;
  }
  h3 {
    color: $font-color-dark;
  }
}

.password-container {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .password-list {
    list-style-type: none;
    width: 100%
  }

  .password-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75%;
    margin: 10px;
    padding: 10px;
  }

}


.hidden {
  display: none;
}

.display-password {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

// Username and Password text fields

.label {
  padding: 10px;
  font-size: 18px;
  color: #111;
  margin-top: 20px
}

.copy-text {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  background: $background-dark;
  color: $font-color-primary;
  border: 1px solid;
  border-radius: 10px;
}

.copy-text button {
  padding: 10px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.hidden {
display: none;
}

.form-group{
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid 0.5px gray;
  border-radius: 10px;
  padding: 5px;

}

