@import 'variables.scss';

.container {
  margin-left: 200px;
  padding: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  h2 {
    color: $font-color-dark;
  }
  h3 {
    color: $font-color-dark;
  }
}

.password-container {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .password-list {
    list-style-type: none;
    width: 100%;
  }

  .password-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75%;
    margin: 10px;
    padding: 10px;
    transition: none;
  }
}

.hidden {
  display: none;
}

.display-password {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

// Username and Password text fields

.label {
  padding: 10px;
  font-size: 18px;
  color: #111;
  margin-top: 20px;
}

.copy-text {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  background: $background-dark;
  color: $font-color-primary;
  border: 1px solid;
  border-radius: 10px;
  width: 300px;
}

.copy-text button {
  padding: 10px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.hidden {
  display: none;
}

.form-group {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid 0.5px gray;
  border-radius: 10px;
  padding: 5px;
}

// Edit Password

.app-container {
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 15% 1.5fr 1fr;
  grid-template-rows: 1;
}

.col-2 {
  grid-column: 2;
  overflow: scroll;
  max-width: 100%;
  overflow-x: hidden;
}

.col-3 {
  grid-column: 3;
  margin-left: 30%;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.edit-form-container {
  width: 100%;
  // height: 100vh;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.edit-form {
  background: #fff;
  padding: 30px 50px;
  border-radius: 10px;
}

.form-title {
  text-align: center;
  margin-bottom: 30px;
  h1 {
    margin: 0px;
    color: $background-dark;
  }
}

.single-input {
  width: 270px;
  border: 1px solid #c1c1c1;
  display: flex;
  margin-bottom: 1;
  i {
    padding: 8px 16px;
    color: $background-dark;
  }
  input {
    border: 0px solid #c1c1c1;
    width: 100%;
    outline: none;
    height: 30px;
    font-size: 18px;
  }
}

.submit-btn {
  border: 0px solid #c1c1c1;
  margin-top: 30px;
  input {
    background: $background-dark;
    color: #fff;
    cursor: pointer;
  }
}
