@import './variables';

nav {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $background-dark;
  color: $font-color-primary;
  // position: fixed;
  padding-bottom:18px;

  .logo-and-search {
    @include flex-centered;
    flex-direction: column;
    width: 90%;
  }

  .search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2f3640;
    height: 40px;
    width: 60px;
    border-radius: 40px;
    padding: 10px;
    color: transparent;

    .search-btn {
      color: #e84118;
      float: right;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #2f3640;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.4s;
      text-decoration: none;
    }

    .search-text {
      border: none;
      background: none;
      outline: none;
      float: left;
      padding: 0;
      font-size: 16px;
      line-height: 40px;
      width: 90%;
      color: inherit;
    }

  }

  .search-box:hover {
    @include search-box-expand;
  }
  .search-box:focus-within {
    @include search-box-expand;
  }

  .category {
    @include flex-centered;
    flex-direction: column;
    height: 100%;

    h3 {
      display: flex;
      justify-content: center;
    }

    .tablinks {
      display: block;
      background-color: inherit;
      color: black;
      padding: 11px 8px;
      width: 100%;
      border: none;
      outline: none;
      text-align: center;
      cursor: pointer;
      transition: 0.3s;
    }

    .tablinks:hover {
      background-color: rgb(107, 107, 107);
    }
  }

  .nav-bottom{
    @include flex-centered;
    flex-direction: column;
  }
}
